
{% extends 'base.html' %}

{% block content %}

<h3 class="about-title mt-4 mb-2"> О нас</h3>

<h4 class="about-desc">Diamstore — один из современных интернет-магазинов ,
 который представляет огромный выбор аксессуаров(наушников,штативов, ламп,часов,петлячек и т.д.).
 У нас  самое вы найдете только качественные товары.
<p>Наша цель – предоставлять для клиентов действительно удобный, надежный и безопасный сервис,
 который позволит в несколько кликов приобретать товары широкого потребления.
 Для наших поставщиков и производителей мы стремимся предлагать продуктивную и
 взаимовыгодную модель сотрудничества, внедрять инновационные технологии сервиса, уделяя
 максимальное внимание к потребностям каждого партнера и клиента.</p></h4>

 {% endblock %}