
{% extends 'base.html' %}

{% block content %}

<h3 class="about-title mt-4 mb-2"> Контакты </h3>

<div class="d-flex extra-cl">
    <span class="phone-title">Номер для связи:</span>
    <div>
        <span class="phone-desc">0505 04 30 14</span><br/>
        <span class="phone-desc">0999 91 66 80</span>
    </div>
</div>

<div class="phone-title extra-cl">Так же мы зарегистрированы в Instagram: <span class="phone-desc">diamstore_</span></div>
<div class="phone-title extra-cl">Tik Tok: <span class="phone-desc">diam.store</span></div>

 {% endblock %}