<table class="table">
  <tbody>
    <tr>
      <td>Цвет</td>
      <td>{{ product.color }}</td>
    </tr>
      <tr>
      <td>Частотный диапазон</td>
      <td>{{ product.freq_range }}</td>
    </tr>
      <tr>
      <td>Время работы аккумулятора</td>
      <td>{{ product.time_without_charge }}</td>
    </tr>
      <tr>
      <td>Вес одного наушника</td>
      <td>{{ product.weight }}</td>
    </tr>

      <tr>
      <td>Версия Bluetooth</td>
      <td>{{ product.bluetooth_ver }}</td>
    </tr>
  </tbody>
</table>
